<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
    <base href="{{baseUrl}}" />
        
    <title>Poll</title>
        
    <link rel="stylesheet" href="templates/lib/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="templates/lib/bootstrap/css/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css"href="templates/assets/css/general.css" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="templates/lib/bootstrap/js/bootstrap.js"></script>
  </head>
  <body>
  <div class="container">
  {{#poll}}
  <div class="row">
    <ul class="breadcrumb span12">
      <li><a href="{{baseUrl}}">Home</a><span class="divider">/</span></li>
      <li class="active">{{getQuestion}}</li>
    </ul>
  </div>    
  
  <div class="row">
    <h1 class="span6 offset3">{{getQuestion}}</h1>
    <img src="{{getIcon}}" alt="" />
    <form class="span6 offset3" method="post" action="index.php/poll/{{id}}">
      {{#getChoices}}
      <label class="radio" for="choice-{{id}}" >{{choice}}
        <input type="radio" id="choice-{{id}}" name="choice"  value="{{id}}" required />
      </label>
      {{/getChoices}}
      
      <div class="form-actions">
        <a href="{{baseUrl}}" class="btn" >Cancel</a>
        <button type="submit" class="btn btn-primary">Vote!</button>
      </div>
    </form>
    <a class="span6 offset3" href="{{baseUrl}}index.php/poll/results/{{id}}">Results</a>
  </div>
  {{/poll}}
      
    </div>
  </body>
</html>
